/*
COLOR PALETTE
dark gray: #c3bfbb;
light gray: #e6e4e2;
seafoam: rgb(132, 175, 183);
*/

html, body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

.container-wrap {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100vh;
    padding: 40px;
}

#wheel {
    width: 500px;
}

#product-info {
    padding: 30px;
    box-sizing: border-box;
}


#product-info {
    width: 50%;

}
.core_background {
    fill:rgb(132, 175, 183);
}

.core_text {
    fill: #fff;
}

.solution {
    fill: #c3bfbb
}

.solution_text {
    fill: #ffffff;
    pointer-events: none;
}

.module {
    fill: #e6e4e2
}

.active_bg {
    fill:rgb(83, 133, 141);
    animation: shadeBg 1s;
}

.hovered_bg {
    fill: rgb(132, 175, 183);
    animation: shadeBg 1s;
}

@keyframes shadeBg {
    0% {
        opacity: 0.25;
    }
    100% {
        opacity: 1.0;
    }
}